@inject HttpClient Http;

<h3>ProductList</h3>
<ul class="list-unstyle">
    @foreach (var product in Products)
   {
       <li>
           <div class="container">
               <div class="product-image">
                   <img src="@product.ImageUrl" alt="img" />
               </div>
               <div class="product-details">
                   <p>@product.Title</p>
                   <p>@product.Description</p>
                   <div class="price">
                       <p>@product.Price</p>
                   </div>
               </div>
           </div>
       </li>
   }
</ul>

@code {
    private static List<Product> Products = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("api/Product");
        if(result != null)
        {
            Products = result;
        }
    }
}
